.calculator-container {
  width: 350px;
  height: 550px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
  .calc-row {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
